@inherits LayoutComponentBase
@layout ProConsulta.Components.Layout.LoginLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    @Body
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnInitialized()
    {
        if (HttpContext is null || !HttpContext.User.Identity?.IsAuthenticated == true)
        {
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
